<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{app.title}">Nazwa aplikacji</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<header th:include="adminHeader.html :: header" class="header--main-page"></header>


<section id="help" class="help">
    <h2>Komu pomagamy?</h2>
    <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <div class="col">

            <ul class="nav--actions">
                <li><a th:href="@{/admin/home}" class="btn btn--small btn--highlighted">Powrót do strony głównej</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="nav--actions">
                <li><a th:href="@{/admin/institution/add}" class="btn btn--small btn--without-border">Dodaj nową instytucję</a></li>
            </ul>
        </div>
        <br><br>


        <ul class="help--slides-items">
            <li th:each="institution : ${institutions}">
                <form th:object="institution" >
                <div class="col">
                    <div class="title" th:text="${institution.name}"></div>
                    <div class="title"><input th:field="*{name}"/></div>
                    <div class="subtitle" th:text="${institution.description}"></div>
                </div>
                </form>

                <div>
                    <button type="button" class="btn"><a th:href="@{/admin/institution/{id}/edit(id=${institution.id})}">Edytuj</a></button>
                    <button type="button" class="btn"><a th:href="@{/admin/institution/delete/{id}(id=${institution.id})}">Skasuj</a></button>
                </div>
                <br>
            </li>

        </ul>
    </div>

</section>



<footer th:include="footer.html :: footer"></footer>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>

